<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.chaihongwei.processkeeplive"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="com.example.keepalive">

    <permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".ChwAliveService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".DaemonService"
            android:enabled="true"
            android:exported="true"
            android:process=":daemon_service">
        </service>
        <service
            android:name=".CancelNoticeService"
            android:enabled="true"
            android:exported="true"
            android:process=":service">
        </service>

        <activity
            android:name=".SportsActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".SinglePixelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/SingleActivityStyle"/>

        <service
            android:name=".PlayerMusicService"
            android:enabled="true"
            android:exported="true"
            android:process=":music_service"/>

        <!--AliveJobService需要BIND_JOB_SERVICE权限-->
        <service
            android:name=".AliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name=".service.LocalService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".service.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=".Remote">
        </service>
    </application>
</manifest>